# Środowisko i sekrety
.env
.env.*
!.env.example

# Zbiory danych i duże zrzuty baz (dump)
instacart.dump
*.dump

# Zachowaj strukturę katalogu data, ignoruj jego zawartość
/data/*
!/data/raw/
/data/raw/*
!/data/raw/.gitkeep

# SQL: ignoruj wszystko poza skryptem importu
/sql/*
!/sql/raw_ingestion.sql

# Środowisko wirtualne i cache Pythona
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter Notebooks (pliki tymczasowe autozapisu)
.ipynb_checkpoints/
/notebooks/models/random_forest.joblib

# Edytor VS Code
.vscode/

# Pliki generowane przez dbt
/dbt/instacart/target/
/dbt/instacart/logs/
/dbt/instacart/dbt_packages/


# Pliki systemowe
Thumbs.db
.DS_Store